<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Blog", '#' %></li>
      <li><a href="https://piazza.com/class/hqssj8pb9lb5ft">Piazza</a></li>
    </ul>
  </nav>
</footer>
